# exclude everything except directory foo/bar
/games/*
/file-io/*
/images/*
/klasse_objekter/*
/kompendie/*
/MVC/*





Klasser_objekter/*


uge4/*
uge5/*
uge6/*
uge7/*
rester/*

*.aux
*.log
*.dvi
*.log
*.gz
*.tex
*.out
*.toc
